<?xml version="1.0"?>
<launch>

<node name="initialpose_publisher" pkg="rostopic" type="rostopic"
    args="pub /initialpose geometry_msgs/PoseWithCovarianceStamped &quot;
{
'header': {
  'seq': 0,
  'stamp':{
    'secs': 0,
    'nsecs': 0,
  },
  'frame_id': 'map',
},
'pose': {
  'pose': {
    'position': {'x': 0.0, 'y': 0.0, 'z': 0.0},
    'orientation': {'x': 0.0, 'y': 0.0, 'z': 0.0, 'w': 1.0},
  },
  'covariance': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
  }
}&quot;" />

</launch>
